<div class="relative">
  <div
    class="bg-slate-200 text-slate-600 text-[2.5vw] font-serif flex items-center justify-center p-7"
  >
    <h2>CENNIK</h2>
  </div>
  <div class="container mx-auto flex justify-center items-center">
    <table class="my-4 min-w-full divide-y-2 divide-slate-600">
      <thead>
        <tr class="text-slate-600 text-3xl font-serif">
          <th class="px-6 py-6 font-normal">Usługa</th>
          <th class="px-6 py-6 font-normal">Cena</th>
        </tr>
      </thead>
      <tbody>
        @for (serviceCategory of serviceCategories; track $index) {
            <tr>
            <td
                colspan="2"
                *ngIf="serviceCategory.name"
                class="font-bold bg-slate-200 text-xl px-6 py-4"
            >
                {{ serviceCategory.name }}
                <em class="text-slate-500 not-italic">{{
                serviceCategory.note ? serviceCategory.note : ""
                }}</em>
            </td>
            </tr>
            @for (service of serviceCategory.services; track $index) {
                <tr class="border-b border-slate-300 text-lg">
                <td class="max-w-[65vw] px-10 py-4 pr-20">{{ service.name }}</td>
                <td class="text-center px-10 py-4 font-semibold">
                    {{ service.price }} zł
                </td>
                </tr>
            }
        }
      </tbody>
    </table>
  </div>
  <div class="container mx-auto my-7 mb-20">
    <p>Szczegółowa wycena podczas konsultacji. Ceny zabiegów są orientacyjne.</p>
  </div>
</div>
