<div class="relative container mx-auto text-center p-20">
  <div>
    <h2 class="font-serif text-[2.3vw] text-slate-500 p-2">Zabiegi</h2>
    <p class="p-2">
      W naszej ofercie znajdziesz kompleksowe zabiegi dla Twojej skóry, które w
      pełni odpowiedzą na Twoje potrzeby.
    </p>
  </div>
  <div class="p-2 mx-20">
    <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig">
    <div ngxSlickItem *ngFor="let procedure of procedures">
      <a
        class="flex flex-col items-center justify-start mx-auto text-center my-5 card border-0"
        href="#"
      >
        <div class="card-zoom">
          <img
            class="max-w-60 scale-105 card-zoom-image"
            src="{{ procedure.imageUrl }}"
          />
        </div>
        <div class="relative">
          <h3
            class="text-slate-600 text-2xl font-serif min-h-24 w-60 flex items-center justify-center"
          >
            {{ procedure.name }}
          </h3>
        </div>
      </a>
    </div>
    </ngx-slick-carousel>
  </div>
  <div class="p-2">
    <button class="bg-slate-400 hover:bg-slate-500 text-white py-4 px-6 rounded w-52 h-14">ZOBACZ WIĘCEJ</button>
  </div>
</div>
