<div class="relative">
  <div
    class="bg-slate-200 text-slate-600 text-[2.5vw] font-serif flex items-center justify-center p-7"
  >
    <h2>KONTAKT</h2>
  </div>
  <div class="container mx-auto flex max-w-[60vw] justify-between">
    <div class="flex flex-col my-20">
      <p class="text-4xl font-serif text-slate-600 py-4">Derm-Est</p>
      <p class="py-4">
        ul. Nałęczowska 18 m. 96<br />
        20-701 Lublin
      </p>
      <p class="py-2">
        I piętro, wejście od ul. Nałęczowskiej obok Banku Spółdzielczego
      </p>
      <p class="py-4">
        <strong>ZAPRASZAMY</strong><br />
        poniedziałek: 09:00 - 13:00, <br />
        środa, piątek: 12:00 - 19:00<br />
      </p>
      <p class="py-4">
        <strong>REJESTRACJA</strong><br />
        +48 733 644 266<br />
        kontakt&#64;medycyna-estetyczna-lublin.com
      </p>
    </div>
    <div class="my-auto">
      <iframe
        class="w-[30dvw] h-[350px]"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1765.9034572534038!2d22.51511612552749!3d51.24919184008601!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4723b2b1ca0985d9%3A0xacda944bfe37bacd!2sGABINET%20DERMATOLOGII%20I%20DERMATOLOGII%20ESTETYCZNEJ!5e0!3m2!1spl!2spl!4v1677518752995!5m2!1spl!2spl"
      ></iframe>
    </div>
  </div>
  <p class="text-center -mb-24">MASZ PYTANIA?</p>
  <app-booking></app-booking>
</div>
